<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ ******************************************************************************************************************************
  ~ Copyright 2011-2022 NXP.
  ~ NXP Confidential. This software is owned or controlled by NXP and may only be used strictly in accordance with the applicable license terms.
  ~ By expressly accepting such terms or by downloading, installing, activating and/or otherwise using the software, you are agreeing that you have read, and that you agree to comply with and are bound by, such license terms.
  ~ If you do not agree to be bound by the applicable license terms, then you may not retain, install, activate or otherwise use the software.
  ~ *********************************************************************************************************************************
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nxp.nfclib" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            android:exported="true"
            tools:replace="android:exported" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"
            tools:replace="android:exported" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
    </application>

</manifest>